/* all ipmorted fonts */
@font-face {
    font-family: RoundedBold;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf)
}
@font-face {
    font-family:RoundedRegular;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf)
}
@font-face {
    font-family: PottaOne;
    src: url(Potta_One/PottaOne-Regular.ttf);
} 
/* fonts */
header, #largefont {
    font-family: PottaOne;
}
#roundbold {
    font-family: RoundedBold;
}
#roundregular, footer {
    font-family: RoundedRegular;
}
/* font sizing */
#largesize {
    font-size: 20px;
}
#smallerheader {
    font-size: 18px;
}
#largestsize {
    font-size: 34px;
}
#smallsize {
    font-size: 16px;
}
#contactsize {
    font-size: 24px;
} 
footer {
    font-size: 9px;
}
#projects-fontsize {
    font-size: 12px;
}
/* contact me bullet point color */
li::marker {
    color: var(--body-text-color);
}
/* center the header and footer, make sticky */
header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
main {
    padding-bottom: 20px;
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
/* display icon positioning and header positioning */
.header-flex-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgb(34, 34, 34, 0.92);
    width: 730px;
    height: 60px;
}
.lightmode .header-flex-container {
    background-color: rgb(245, 242, 242, 0.92);
}
.header-icon {
    border: none;
    border-radius: 21px;
    height: 48px;
    width: 48px;
    transform: translateX(17px);
}
#displayimage {
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-36px);
    pointer-events: none;
}
#displayimage2 {
    position: absolute;
    height: 65px;
    right: -6px;
    top: 50%;
    transform: translateY(-34px);
    pointer-events: none;
}
.header-flex-container a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/* get rid of underline on page linkes */
.header a:visited, a:link, a:active {
    text-decoration: none;
}
/* about page cat image overlap with text 
.about-image-container {
    display: block;
    z-index: 2;
} */
#about-main {
    padding-top: 25px;
}
#about-cat {
    position: relative;
    z-index: 5;
    margin-top: -200px; 
    margin-left: 153px;
}
.lightmode #about-cat {
    position: relative;
    z-index: 5;
    margin-top: -167px;
    margin-left: 153px;
}
#about-text-container {
    margin-top: -160px;
}
.lightmode #about-image-container {
    margin-top: 2px;
}
.lightmode #about-text-container {
    margin-top: -160px
}
/* about page headshot positioning */
.headshot-image {
    position: relative;
    margin-top: -15px;
    margin-left: 595px;
    z-index: -1;
}
#light-headshot {
    margin-top: -7px;
    margin-left: 612.5px;
}
/* contact page image line up with text top */
#contact-cat {
    margin-left: 350px;
    margin-bottom: -400px;
}
#contact-text {
    margin-top: -20px;
}
#contact-li {
    list-style: none;
    margin-left: -35px;
}
/* 3d model */
#model3d {
    width: 48vw;
    height: 48vh;  
    margin: 0 auto;
    text-align: center;
    background: transparent;
}
/* dark and light mode display */
:root {
    --base-color: #222222;
    --body-text-color: white;
    --footer-text-color: #5a5a5a;
    --header-color: rgb(34, 34, 34, 0.92);
    --form-font-color: #222222; 
    --form-border-color: #afafaf; 
    --form-background: white;
}
body {
    background-color: var(--base-color);
    color: var(--body-text-color);
}
header {
    background-color: rgb(34, 34, 34, 0.92);
    color: var(--body-text-color);
}
.lightmode header {
    background-color: rgb(245, 242, 242, 0.92);
}
footer {
    background-color: var(--base-color);
    color: var(--footer-text-color)
}
.lightmode {
    --base-color: #f5f2f2;
    --body-text-color: #222222;
    --footer-text-color: #a8a8a8;
    --header-color: rgb(245, 242, 242, 0.92);
    --form-font-color: #222222;
    --form-border-color: #afafaf; 
    --form-background: white; 
}
#theme-switch, #mobile-theme-switch{
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}
#theme-switch :last-child{
    display: none;
}
.lightmode #theme-switch :first-child {
    display: none;
}
.lightmode #theme-switch :last-child{
    display: block;
}
#mobile-theme-switch :last-child{
    display: none;
}
.lightmode #mobile-theme-switch :first-child {
    display: none;
}
.lightmode #mobile-theme-switch :last-child{
    display: block;
}
#image-switch {
    background: transparent;
    border: none;
}
#image-switch :last-child{
    display: none;
}
.lightmode #image-switch :first-child {
    display: none;
}
.lightmode #image-switch :last-child{
    display: block;
}
#dropdown-switch {
    background: transparent;
    border: none;
}
#dropdown-switch :last-child {
    display: none;
}
.lightmode #dropdown-switch :first-child {
    display: none;
}
.lightmode #dropdown-switch :last-child {
    display: block;
}
/* decrease left and right padding as browser size decreases horizontally, 330px = 22.92vw */
body {
    padding-left: calc(22.92vw + (330px - 22.92vw));
    padding-right: calc(22.92vw + (330px - 22.92vw));
}
@media (max-width: 1440px) {
    body {
        padding-left: calc(330px - ( (1440px - 100vw) / 2 ));
        padding-right: calc(330px - ( (1440px - 100vw) / 2 ));
    }
}
/* dropdown menu styling */
.dropdown {
    display: none;
}
.menu {
    flex-direction: column;
    background-color: var(--base-color);
}
/* dropdown menu when opened */
.menu {
    font-family: PottaOne;
    font-size: 17px;
    text-decoration: none;
    list-style: none;
    position: absolute;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    top: 40px;
    right: 76px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    text-align: left;
    min-width: 145px;
    padding-left: 15px;
    background: var(--footer-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.menu a {
    color: var(--body-text-color);
}
.menu li {
    padding: 5px;
    transition: text-decoration 0.5s ease;
}
.menu li:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.menu.open-menu {
    max-height: 400px;
    opacity: 1;
}
/* mobile screen width positionings */
@media screen and (max-width: 780px) {
    .header-icon {
        border: none;
        height: 47px;
        position: relative;
        width: 22px;
        right: -5px;
        transform: translateX(-7px);
        border-radius: 21px;
    }
    #displayimage {
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-36px);
        pointer-events: none;
    }
    #displayimage2 {
        position: absolute;
        height: 65px;
        border: none;
        margin-top: 3px;
        padding-left: 4px;
        right: -8px;
        top: 50%;
        transform: translateY(-36px);
        pointer-events: none;
    }
    .header-flex-container {
        display: none;
    }
    .dropdown {
        display: flex;
        align-items: center;
        z-index: 10;
        background-color: rgb(34, 34, 34, 0.92);
        width: 100%;
        height: 60px;
        position: absolute;
    }
    .lightmode .dropdown {
        background-color: rgb(245, 242, 242, 0.92);
    }
    #dropdown-button {
        pointer-events: visiblePainted;
    }
    .select {
        cursor: pointer;
        background: none;
        position: absolute;
        right: 68px;
        pointer-events: none;
    }
    .lightmode .select {
        bottom: 2px;
        right: 66px;
    }
    .header-icon {
        position: absolute;
        padding-right: 26px;
        right: 10px;
    }
    .dropdown-name {
        position: absolute;
        top: 16px;
    }
    .dropdown-name:hover {
        text-decoration: underline;
    }
    /* homepage positioning with browser screen width <= 780px */
    #model3d {
        padding-bottom: 57px;
        width: 215px;
        height: 40vh;  
        margin: 0 auto;
        text-align: center;
        background: transparent;
    }
    #index-main {
        padding-top: 60px;
    }
    /* about me page positioning with browser screen width <= 780px */
    #image-switch {
        position: absolute;
        padding-top: 60px;
        right: -25px;
    }
    .headshot-image {
        position: absolute;
        right: 29px;
    }
    #light-headshot {
        position: absolute;
        margin-right: -33px;
    }
    #about-cat {
        padding-top: 233px;
    }
    /* light mode about me page positioning w/ browser screen width <= 780px */
    .lightmode #image-switch {
        position: absolute;
        right: 17px;
    }
    .lightmode #about-cat {
        padding-top: 198px;
    }
    /* projects page positioning with browser screen width <= 780px */
    #contact-main {
        padding-top: 60px;
    }
    /* contact page positioning with browser screen width <= 780px */
    #contact-body {
        padding-top: 78px;
    }
    #contact-cat {
        position: absolute;
        padding-top: 76px;
        right: 55px;
    }
    .project2-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .project1-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    #project1-content {
        margin-top: -20px;
    }
    .project0-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    #project0-content {
        margin-top: -20px;
    }
    .project3-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;   
    }
    #project3-content {
        margin-top: -15px; 
    }
}
/* contact page cat positioning with even smaller browser screen width, 
   decreases smoothly as width decreases past 640px */
@media screen and (max-width: 620px) {
    #contact-cat {
        height: calc(310px - (620px - 100vw));
    }
}
@media screen and (max-width: 499px) {
    .header-icon {
        padding-right: 36px;
        padding-bottom: 25px;
    }
    .dropdown {
        display: flex; 
        flex-wrap: wrap; 
        z-index: 10;
        background-color: rgb(34, 34, 34, 0.92);
        height: 60px;
    }
    .lightmode .dropdown {
        background-color: rgb(245, 242, 242, 0.92);
    }
}

#projects-fontsize {
    display: flex;
    margin-top: -3px;
}

.project0-header {
    width: 350px;
    margin-right: 0;
    text-align: center;
    margin-bottom: -2px;
}
.project0-header a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--body-text-color);
}
.project0-header a:hover {
    text-decoration: underline;
}
#project0-image {
    margin-left: -19.8px;
    position: absolute;
    top: -15.6px;
    left: -2.6px;
}
.project0-image-container {
    border: 2.5px solid var(--body-text-color);
    width: 349.3px;
    height: 212.4px;
    transform: translateY(-5px);
    transform: translateX(1px);
    border-radius: 23px;
}

.project1-header {
    width: 350px;
    margin-left: 0;
    text-align: center;
    margin-bottom: -2px;
}
.project1-header a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--body-text-color);
}
.project1-header a:hover {
    text-decoration: underline;
}
#project1-image {
    margin-left: -15px;
    position: absolute;
    top: -9.55px;
    left: -2.6px;
}
.project1-image-container {
    border: 2.5px solid var(--body-text-color);
    width: 349.3px;
    height: 212.4px;
    transform: translateY(-5px);
    transform: translateX(1px);
    border-radius: 23px;
}

.project2-header {
    width: 350px;
    margin-left: 0;
    text-align: center;
    margin-bottom: -2px;
}
.project2-header a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--body-text-color);
}
.project2-header a:hover {
    text-decoration: underline;
}
#project2-image {
    margin-left: -15px;
    position: absolute;
    top: -20.5px;
    left: -54.55px;
}
.project2-image-container {
    border: 2.5px solid var(--body-text-color);
    width: 349.3px;
    height: 212.4px;
    transform: translateY(-5px);
    transform: translateX(1px);
    border-radius: 23px;
}
.project3-header a:hover {
    text-decoration: underline;
}
.project3-header a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--body-text-color);
}
.project3-image-container {
    border: 2.5px solid var(--body-text-color);
    width: 349.3px;
    height: 212.4px;
    transform: translateY(-5px);
    transform: translateX(1px);
    border-radius: 23px;
}
#project3-image {
    margin-left: -15px;
    position: absolute;
    top: -20.5px;
    left: -54.55px;
    transform: translateX(38.5px);
    margin-top: -1px;
}


/* contact page form */
.contact-container {
    height: 500px; 
    display: flex;
    justify-content: space-evenly;
}
.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title {
    color: var(--body-text-color);
    margin-bottom: -20px;
}
.contact-inputs {
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 21px;
    background-color: var(--form-background);
}
.contact-left textarea {
    height: 150px;
    padding-top: 15px;
    border-radius: 21px;
}
.contact-inputs:focus {
    border: 3px solid var(--form-border-color);
}
.contact-inputs::placeholder {
    color: var(--form-font-color);
}
.contact-left button {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-family: RoundedRegular;
    background-color: white;
    border: none;
    border-radius: 21px;
    gap: 10px;
    color: var(--form-font-color);
    cursor: pointer;
}
@media screen and (max-width: 550px) {
    .contact-inputs {
        width: calc(100vw - 50px);
    }
}

/* screen width greater than 1440px */
@media screen and (min-width: 1440px) {
    body {
        padding-left: calc(330px + ((100vw - 1440px) / 2));
        padding-right: calc(330px + ((100vw - 1440px) / 2));
    }
}

@media screen and (min-width: 781px) {
    .project0-container {
        position: relative;
        transform: translateX(388px); /* right side */
        top: -46px;
    }
    #project1 {
        position: relative;
        transform: translateX(0);
        top: 365px;
    }
    .project3-container {
        position: absolute;
        transform: translateX(0px); 
        top: 180px;
    }
    .project3-header {
        width: 350px;
        text-align: center;
        margin-bottom: -2px;
    }
    .project2-container {
        position: absolute;
        transform: translateX(388px);
        top: 180px;
    }
}